body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
 background-color: black;
}

.sec {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   /* border: 1px solid red; */
}
.sec-1{
  height: 80vh;
  width: 100%;
  margin-top: 90px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#a{
  height: 300px;
  width: 90%;
  text-align: center;
  border-radius: 50%;

}
#content{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nokey {
  position: absolute;
  /* z-index: -1;  */
}

.card{
  background: 	#e8dece;
  margin-top: 100px;
  border: none;
  color: black;
  font-size: 20px;
}

.loader {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: #080808; /** Loader BG Color **/
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  /* margin: 130px 0; */
  -webkit-perspective: 780px;
  perspective: 780px;
  opacity: 1; /* Initially visible */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

/* Hide loading container when opacity is 0 */
.loader.hide {
    opacity: 0;
    pointer-events: none; /* Disable pointer events when hidden */
}


.loader-text {
  font-family: serif;
  font-style: italic;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: bold;
  color: #cecece;  /** Color of "Loading" text **/
  z-index: 10;  /** Show on top **/
/*display: none;*/  /** Remove or Show "Loading" text **/
  
}

.load-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
}

.load-inner.load-one {
  left: 0%;
  top: 0%;
  border-bottom: 3px solid #5c5edc;
  -webkit-animation: rotate1 1.15s linear infinite;
  animation: rotate1 1.15s linear infinite;
}

.load-inner.load-two {
  right: 0%;
  top: 0%;
  border-right: 3px solid #9147ff;
  -webkit-animation: rotate2 10.15s 10.1s linear infinite;
  animation: rotate2 1.15s 0.1s linear infinite;
}

.load-inner.load-three {
  right: 0%;
  bottom: 0%;
  border-top: 3px solid #3b82f6;
  -webkit-animation: rotate3 10.15s 10.15s linear infinite;
  animation: rotate3 1.15s 0.15s linear infinite;
}

#content {
  opacity: 0; /* Initially hidden */
  transition: opacity 1.5s ease; /* Smooth transition for opacity */
}

/* Show content with fade-in effect */
#content.show {
  opacity: 1;
  transition: opacity 1.5s ease;
  color: #EEEEEE;
  align-content: center;
}


@-webkit-keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate1 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}
@keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}
@keyframes rotate3 {
  0% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
    transform: rotateX(-60deg) rotateY(0deg) rotateZ(360deg);
  }
}



button {
  font: 700 30px consolas;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 60px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.2s;
transform: scale(2);
}

button span {
  position: relative;
  z-index: 0;
  color: #fff;
}

button .liquid {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: 200px;
  background: 	#b5be97;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.7);
  z-index: -1;
  transition: 0.6s;
}
button .liquid::after,
button .liquid::before {
  position: absolute;
  content: "";
  width: 200%;
  height: 200%;
  top: 0;
  left: 0;
  transform: translate(-25%, -75%);
}

button.liquid::after {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  box-shadow: 0 0 10px 5px #7293ff, inset 0 0 5px #7293ff;
  animation: animate 5s linear infinite;
  opacity: 0.8;
}

button .liquid::before {
  border-radius: 40%;
  box-shadow: 0 0 10px rgba(26, 26, 26, 0.5),
      inset 0 0 5px rgba(26, 26, 26, 0.5);
  background: rgba(26, 26, 26, 0.5);

  animation: animate 7s linear infinite;
}

@keyframes animate {
  0% {
      transform: translate(-25%, -75%) rotate(0);
  }
  100% {
      transform: translate(-25%, -75%) rotate(360deg);
  }
}
button:hover .liquid {
  top: -120px;
}

button:hover {
  box-shadow: 0 0 5px #7293ff, inset 0 0 5px #7293ff;
  transition-delay: 0.2s;
}