*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#c{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: orange;
}
#btn{
  height: 50px;
  width: 100px;
  border: none;
  margin: 2px;
  font-size: 25px;
}